.square {
    width: 85px;
    height: 85px;
    border: none;
}

.square:focus {
    outline: none;
}

.black {
    background: #262f3b;
}

.white {
    background: #6a7687;
}

.imgButton {
    width: 100%;
    text-align: center;
}

.rotate {
    transform: rotateZ(180deg);
}

.choosing {
    background: #949a44 !important;
}

.possibletomove {
    opacity: 0.3;
}